.product-container {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 33px;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
  
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.product-card:hover{
  background-color: #0077b6;
  transition: 1s ease;
  color: #ffff;
}
  
.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
  
.product-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
  
.product-card p {
  font-size: 16px;
  color: #555;
}

.product-card p:hover {
  color: #ffff;
}
